<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <h1>Characters</h1>
        <ul>
            <% for(let i = 0; i < characters.length; i++) { %>
            <li>
                <a href="/character/<%=characters[i].id%>">
                    <div>
                        <img src="<%=characters[i].image%>" /><br />
                        <%=characters[i].name%><br />
                        <em><%=characters[i].quote%></em>
                    </div>
                </a>
            </li>
            <% } %>
        </ul>
    </body>
</html>
