<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <h1>Characters</h1>
            <ul id="char-list">
                <% for(let i = 0; i < characters.length; i++) { %>
                <li>
                    <a href="/character/<%=characters[i].id%>">
                        <div class="card">
                            <strong><%=characters[i].name%></strong><br />
                            <img src="<%=characters[i].image%>" /><br />
                            <em><%=characters[i].quote%></em>
                        </div>
                    </a>
                </li>
                <% } %>
            </ul>
        </main>
    </body>
</html>
