<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <img src="<%=character.image%>" />
            <h1><%=character.name%></h1>
            <% for(let i = 3; i < Object.keys(character["_doc"]).length - 1;
            i++) { %> <% if(character[Object.keys(character["_doc"])[i]]) { %>
            <%=Object.keys(character["_doc"])[i]%>:
            <%=character[Object.keys(character["_doc"])[i]]%>
            <br />
            <% } %><% } %>
        </main>
    </body>
</html>
