<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <h1><%=user.username%></h1>
            <h3>
                <a href="/users/<%=user.username%>/characters">Characters</a>
            </h3>
            <% if(currentUser && user.username === currentUser.username) { %>
                <h2>Friends</h2>
                <ul>
                    <% for(let i = 0; i < user.friends.length; i++) { %>
                        <li>
                            <a href="/users/<%=user.friends[i].username%>">
                                <%=user.friends[i].username%>
                            </a>
                        </li>
                    <% } %>
                </ul>
            <% } %>
        </main>
    </body>
</html>
