<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main>
            <p>
                <a href="<%=referer%>"><button>Back</button></a>
            </p>
            <img src="<%=character.image%>" id="show-image" />
            <h1><%=character.name%></h1>
            <% for(let i = 4; i < Object.keys(character._doc).length - 1; i++) {
            %> <% if(character[Object.keys(character._doc)[i]] &&
            character[Object.keys(character._doc)[i]].length !== 0) { %>
            <span class="capitalize"><%=Object.keys(character._doc)[i]%></span>:
            <%=character[Object.keys(character._doc)[i]]%>
            <br />
            <% } %><% } %>
            <br />
            <form>
                <input
                    type="submit"
                    value="Edit"
                    formaction="/characters/<%=character.id%>/edit"
                    formmethod="GET"
                />
                <input
                    type="submit"
                    value="Delete"
                    formaction="/characters/<%=character.id%>?_method=DELETE"
                    formmethod="POST"
                />
            </form>
        </main>
    </body>
</html>
